* {
    box-sizing: border-box;
}

/*
TODOS Dani
Dar atribucion a imagenes que se han utilizado
Hacer imagenes y dibujos mas pequeños
No hacer copy paste de ultimos posts de Linkedin (si no se como poner el codigo
bien, fuera)
Poner aviso de work in progress como disclaimer
Orden: no empezar con formación. Primero los proyectos
No remontarse tanto en la etapa de educación (empezar tal vez en highschool)
All Rights reserved
*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    background-color: rgb(136, 0, 0);
    padding: 20px;
    width: 100%;
    display: flex;
    & ul {
        display: flex;
        justify-content: space-around;
        gap: 25px;
        width: 75%;
        & li {
            display: inline;
            list-style: none;

            & a {
                color: white;
                text-decoration: none;
            }
            & a:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
header:first-child{

}


main {
    margin: 0 auto;
    max-width: 50em;
    margin-top: 280px;
}