* {
    box-sizing: border-box;
}

/*
TODOS Dani
Dar atribucion a imagenes que se han utilizado
Hacer imagenes y dibujos mas pequeños
No hacer copy paste de ultimos posts de Linkedin (si no se como poner el codigo
bien, fuera)
No remontarse tanto en la etapa de educación (empezar tal vez en highschool)
All Rights reserved
*/

/*Paleta de colores a utilizar en la web (además de blanco y negro)
#A60505
#F20F0F
#F23D3D
#BFBFBF
#0D0D0D
*/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
html{
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    background-color: white;
    padding:1.25rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & ul {
        background-color: rgb(136, 0, 0);
        padding: 0.625rem 0 0.625rem 0;
        display: flex;
        justify-content: space-around;
        width: 75%;

        & li {
            display: inline;
            list-style: none;

            & a {
                color: white;
                text-decoration: none;
            }

            & a:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    & img {
        border-radius: 3rem;
    }
}

footer {
    color: white;
    background-color: rgb(136, 0, 0);

    display: grid;
    grid-template-columns: repeat(25, 1fr);
    margin: 0 auto;
    width: 100%;

    & div {
        grid-column: 17 / 23;
    }

    & section {
        grid-column: 5 / 15;
        margin: 0 auto;
    }

    & ul {
        list-style: none;
        padding-left: 0;

        & li {
            line-height: 2.5;
            & a {
                align-items: center;
                text-decoration: none;
                color:  inherit;
            }
        }
    }
}

.elsewhere {
    grid-column: 17/21;
}

.contact {
    grid-column: 21/23;
}


main {
    margin: 0 auto;
    max-width: 50rem;
    margin-top: 8.75rem;
}

.mailLink{
    & p{
        display: inline;
    }
}

/*testing fonts*/
  /*Regular*/
  p, li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Bold*/
b, h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*Regular-italic*/
em {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/*Bold-italic*/
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

